:root {
  --primary-color: rgba(52, 152, 219, 1);
  --light-blue: rgba(72, 201, 255, 1);
  --dark-blue: rgba(44, 62, 80, 1);
  --dark-blue-hover: rgb(31, 45, 58);
  --ocean-blue: rgba(0, 119, 190, 1);
  --sky-blue: rgb(181, 220, 236);
  --background-color: rgba(135, 206, 235, 1);
}
.block {
  width: 100%;
  height: 20px;
  border-bottom: 2px solid black;
}
.coverPhoto {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.profilePageNav {
  margin-top: 190px;
  background-color: var(--sky-blue) !important;
}
.eachNav:hover {
  background-color: var(--background-color);
}
.eachNavActive {
  background-color: var(--background-color);
}
.profilePageSlide1 {
  background-color: var(--sky-blue) !important;
}
.feature {
  height: 280px;
}
.feature img {
  object-fit: cover;
}
.photos {
  object-fit: cover;
  height: 200px;
}
.personalPost {
  background-color: var(--background-color);
}
.profileTrans {
  background-color: transparent !important;
}
.personalProfile {
  bottom: -180px;
  left: 20px;
  align-items: center;
}
.personalPostLists {
  max-height: 176.5vh;
  overflow: auto;
}
.personalPostLists::-webkit-scrollbar {
  display: none;
}
.profileImage {
  object-fit: cover;
}

.profile {
  background-color: var(--sky-blue);
}
