:root {
  --primary-color: rgba(52, 152, 219, 1);
  --light-blue: rgba(72, 201, 255, 1);
  --dark-blue: rgba(44, 62, 80, 1);
  --dark-blue-hover: rgb(31, 45, 58);
  --ocean-blue: rgba(0, 119, 190, 1);
  --sky-blue: rgb(181, 220, 236);
  --background-color: rgba(135, 206, 235, 1);
}
.block {
  width: 100%;
  height: 20px;
  border-bottom: 2px solid black;
}
.backgroundFriend {
  background-color: var(--sky-blue) !important;
}
